<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962168466841-hae9325rua43uqeh0a2h0gdl52k7l2jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962168466841-hae9325rua43uqeh0a2h0gdl52k7l2jp</string>
	<key>API_KEY</key>
	<string>AIzaSyD4Ot3uMvFDLb80iSfJw6mC0KnhGvuom90</string>
	<key>GCM_SENDER_ID</key>
	<string>962168466841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inovasidigital.schoolApps</string>
	<key>PROJECT_ID</key>
	<string>edsy--push-materitugas</string>
	<key>STORAGE_BUCKET</key>
	<string>edsy--push-materitugas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962168466841:ios:70acd60fa0778511877708</string>
</dict>
</plist>